/* html5doctor.com Reset v1.6.1 (http://html5doctor.com/html-5-reset-stylesheet/) - http://cssreset.com */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

body {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.2;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box; }

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

.clearFix {
  clear: both;
  width: 0;
  height: 0; }

.hide {
  display: none; }

a {
  text-decoration: none; }

body, html {
  background: #fff;
  color: #000;
  font-size: 10px; }

h1 {
  font-size: 3em;
  text-transform: uppercase;
  font-weight: bold; }

.navbar {
  margin-bottom: 0;
  border-radius: 0;
  background-color: #5E4485;
  color: #fff;
  padding: 1% 0;
  font-size: 1.2em;
  border: 0; }

.navbar-brand {
  float: left;
  min-height: 55px;
  padding: 0 15px 5px; }

.navbar-inverse .navbar-nav li a {
  color: #d5d5d5; }
.navbar-inverse .navbar-nav .active a {
  color: #fff;
  background-color: #5E4485; }
  .navbar-inverse .navbar-nav .active a:focus, .navbar-inverse .navbar-nav .active a:hover {
    color: #fff;
    background-color: #5E4485; }

.carousel-inner {
  width: 100%; }
  .carousel-inner .item img {
    width: 100%; }

.carousel-caption {
  top: 50%;
  transform: translateY(-50%); }

.btn {
  font-size: 1.8em;
  color: #fff;
  padding: 12px 22px;
  background-color: #5E4485;
  border: 2px solid #fff; }

.container {
  margin: 2% auto; }

h2 {
  font-size: 2.5em;
  font-weight: bold;
  margin-bottom: 2%; }

h3 {
  font-size: 2em;
  line-height: 1.1;
  font-weight: bold; }

h4 {
  font-size: 1.5em;
  font-weight: bold; }

p {
  margin: 1% 0;
  font-size: 1.5em; }

.icon {
  max-width: 200px;
  margin: 1% auto; }

#hidden {
  margin: 1% auto; }

footer {
  width: 100%;
  background-color: #5E4485;
  padding: 5%;
  color: #fff; }
  footer .grid {
    margin-bottom: 10%; }

.fa {
  padding: 15px;
  font-size: 3em;
  color: #fff; }
  .fa:hover {
    color: #d5d5dd;
    text-decoration: none; }

@media (max-width: 900px) {
  .fa {
    padding: 10px;
    font-size: 20px; } }
@media (max-width: 600px) {
  .carousel-caption {
    display: none; }

  .footer .grid {
    margin-bottom: 5%; } }

/*# sourceMappingURL=main.css.map */
