//All website colors
$white:#fff;
$black:#000;
// fonts
body {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.2;
  color:$white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
  padding:0;
  margin:0;
}


