body,html {
    background: $white;
    color: $black;
    font-size: 10px;
}
h1{
    font-size: 3em;
    text-transform: uppercase;
    font-weight:bold;
}
.navbar{
    margin-bottom:0;
    border-radius:0;
    background-color:#5E4485;
    color:$white;
    padding:1% 0;
    font-size:1.2em;
    border:0;
}
.navbar-brand{
    float:left;
    min-height: 55px;
    padding: 0 15px 5px;
}
.navbar-inverse{
    .navbar-nav{
        li{
            a{
                // font-size:1.2em;
                color:#d5d5d5;
            }
        }
        .active{
            a{
                color:$white;
                background-color: #5E4485;
            &:focus,&:hover{
                color:$white;
                background-color: #5E4485;
            }   

            }
        }
    }
}
.carousel-inner{
    width:100%;
    .item{
      img{
          width:100%;
      }
    }
}

.carousel-caption{
    top:50%;
    transform: translateY(-50%);
    // margin-bottom:30px;
}
.btn{
    font-size:1.8em;
    color:$white;
    padding: 12px 22px;
    background-color: #5E4485;
    border: 2px solid $white;
}

.container{
    // padding:1% 0px;
    margin: 2% auto;
    // color:$black;
}
h2{
    font-size: 2.5em;
    font-weight:bold;
    margin-bottom:2%;
}
h3{
    font-size: 2em;
    line-height: 1.1;
    font-weight:bold;
}
h4{
    font-size: 1.5em;

    font-weight:bold;
}
p{
    margin:1% 0;
    font-size: 1.5em;
}
.icon{
    max-width:200px;
    margin: 1% auto;
}
#hidden{
    margin:1% auto;
}
footer{
    width:100%;
    background-color: #5E4485;
    padding:5%;
    color:$white;
  
     .grid{
      margin-bottom: 10%;
     }

}
.fa{
    padding:15px;
    font-size: 3em;
    color:$white;
      &:hover { 
          color: #d5d5dd;
          text-decoration: none;
      }
}

@media (max-width:900px) {
 .fa{
    padding:10px;
    font-size: 20px;
 }
 
}
@media (max-width:600px) {
 .carousel-caption{
     display: none;
 }
 .footer{
     .grid{
      margin-bottom: 5%;
     }
 }
}